# FOLDERS
/node_modules

# ENV
.env

# Credentials json taken from DataStax Astra
/cassandra-schema-parser-token.json

# Archive for remote DatasStax Astra cluster connection
/secure-connect-cassandra-schema-parser.zip

# Result JSON schema
/result.json